<appSettings>
  <!-- Update these with your BotId, Microsoft App Id and your Microsoft App Password-->
  <add key="BotId" value="ITSDChatbot" />
  <add key="MicrosoftAppId" value="5fb24f29-c165-4859-a566-d438a45bb4ff" />
  <add key="MicrosoftAppPassword" value="H]3?zH*)PFF=_H!?" />

  <!-- Add your connection string for routing data storage below -->
  <add key="RoutingDataStorageConnectionString" value="" />
</appSettings>